<section>
  <div class="about-container container">
    <div class="about-container-text">
      <h2 class="about-title">About Us</h2>
      <p class="about-text-description">The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka
        comes to life with new zest and
        style.
        Our store offers a wide selection of high-quality and authentic embroidery, which combines the elegance of
        traditional
        needlework and modern design.</p>
      <p class="about-text-assortment">In "Vyshyvanka Vibes" you will find various models of embroidery, from classic
        to
        modern, corresponding to the
        latest
        fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly qualified craftsmen
        who convey
        the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing, but a symbol
        of
        national pride, the heritage of our ancestors and a way of expressing one's individuality. Each embroidery
        from
        "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.</p>
    </div>
    <div class="about-container-img">
      <picture class="about-picture">
        <source src=" 1x,  2x" media="min-width: 1400px">
        <source src=" 1x,  2x" media="min-width: 1280px">
        <source src=" 1x,  2x" media="min-width: 768px">
        <source src=" 1x,  2x" media="max-width: 767px">
        <img src="" alt="embroidered shirt" class="about-img">
      </picture>
    </div>
</section>