<section class="section collection">
  <div class="container">
    <h2 class="collection-title">Our Colection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture class="collection-picture">
            <source src=" 1x,  2x" media="min-width: 1400px" />
            <source src=" 1x,  2x" media="min-width: 1280px" />
            <source src=" 1x,  2x" media="min-width: 768px" />
            <img
              src="../img/collection/mobile/oc-1-mobile.jpeg"
              alt="blouseRING"
              class="about-img"
            />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">AUGUST Poltava women's blouseRING</h3>
          <p class="Collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture class="collection-picture">
            <source src=" 1x,  2x" media="min-width: 1400px" />
            <source src=" 1x,  2x" media="min-width: 1280px" />
            <source src=" 1x,  2x" media="min-width: 768px" />
            <img
              src="../img/collection/mobile/oc-2-mobile.jpeg"
              alt="blouseRING"
              class="about-img"
            />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
          <p class="Collection-text">3350 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture class="collection-picture">
            <source src=" 1x,  2x" media="min-width: 1400px" />
            <source src=" 1x,  2x" media="min-width: 1280px" />
            <source src=" 1x,  2x" media="min-width: 768px" />
            <img
              src="../img/collection/mobile/oc-3-mobile.jpeg"
              alt="blouseRING"
              class="about-img"
            />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">Women's blouse Crimea</h3>
          <p class="Collection-text">4000 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture class="collection-picture">
            <source src=" 1x,  2x" media="min-width: 1400px" />
            <source src=" 1x,  2x" media="min-width: 1280px" />
            <source src=" 1x,  2x" media="min-width: 768px" />
            <img
              src="../img/collection/mobile/oc-4-mobile.jpeg"
              alt="blouseRING"
              class="about-img"
            />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
          <p class="Collection-text">3100 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture class="collection-picture">
            <source src=" 1x,  2x" media="min-width: 1400px" />
            <source src=" 1x,  2x" media="min-width: 1280px" />
            <source src=" 1x,  2x" media="min-width: 768px" />
            <img
              src="../img/collection/mobile/oc-5-mobile.jpeg"
              alt="blouseRING"
              class="about-img"
            />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">Mountain men's shirt</h3>
          <p class="Collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture class="collection-picture">
            <source src=" 1x,  2x" media="min-width: 1400px" />
            <source src=" 1x,  2x" media="min-width: 1280px" />
            <source src=" 1x,  2x" media="min-width: 768px" />
            <img
              src="../img/collection/mobile/oc-6-mobile.jpeg"
              alt="blouseRING"
              class="about-img"
            />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">Men's shirt Yasen</h3>
          <p class="Collection-text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
