<section class="section our-collection" id="collection">
  <div class="container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <div class="collection-foto">
          <picture class="collection-image">
            <source
              srcset="
                ./img/collection/mobile/oc-1-mobile.webp   1x,
                ./img/collection/mobile/oc-1-mobile2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mobile/oc-1-mobile.jpeg   1x,
                ./img/collection/mobile/oc-1-mobile2x.jpeg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-1-tablet.webp   1x,
                ./img/collection/tablet/oc-1-tablet2x.webp 2x
              "
              media="(max-width:1279px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-1-tablet.jpeg   1x,
                ./img/collection/tablet/oc-1-tablet2x.jpeg 2x
              "
              media="(max-width:1279px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1280/oc-1-1280.webp   1x,
                ./img/collection/1280/oc-1-12802x.webp 2x
              "
              media="(max-width:1439px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1280/oc-1-1280.jpeg   1x,
                ./img/collection/1280/oc-1-12802x.jpeg 2x
              "
              media="(max-width:1439px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1440/oc-1-1440.webp   1x,
                ./img/collection/1440/oc-1-14402x.webp 2x
              "
              media="(min-width:1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1440/oc-1-1440.jpeg   1x,
                ./img/collection/1440/oc-1-14402x.jpeg 2x
              "
              media="(min-width:1440px)"
              type="image/jpeg"
            />
            <img
              class="collection-image"
              src="./img/collection/mobile/oc-1-mobile.jpeg"
              alt="vyshyvanka-black-women"
              width="335"
              height="430"
            />
          </picture>
          <p class="overlay-text">
            The west of Ukraine is characterised by multi-coloured contrasting
            embroidery. The embroidery technique on the selected fragment is
            kachalochky. This type of counted satin stitch is also known in
            other regions of Ukraine, but in Transcarpathia, the peculiarity of
            this embroidery is the complete sewing of the background with dark
            colours.
          </p>
        </div>
        <div class="collection-item-text">
          <h3 class="collection-item-title">
            AUGUST POLTAVA WOMEN'S BLOUSERING
          </h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="collection-foto">
          <picture class="collection-image">
            <source
              srcset="
                ./img/collection/mobile/oc-2-mobile.webp   1x,
                ./img/collection/mobile/oc-2-mobile2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mobile/oc-2-mobile.jpeg   1x,
                ./img/collection/mobile/oc-2-mobile2x.jpeg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-2-tablet.webp   1x,
                ./img/collection/tablet/oc-2-tablet2x.webp 2x
              "
              media="(max-width:1279px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-2-tablet.jpeg   1x,
                ./img/collection/tablet/oc-2-tablet2x.jpeg 2x
              "
              media="(max-width:1279px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1280/oc-2-1280.webp   1x,
                ./img/collection/1280/oc-2-12802x.webp 2x
              "
              media="(max-width:1439px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1280/oc-2-1280.jpeg   1x,
                ./img/collection/1280/oc-2-12802x.jpeg 2x
              "
              media="(max-width:1439px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1440/oc-2-1440.webp   1x,
                ./img/collection/1440/oc-2-14402x.webp 2x
              "
              media="(min-width:1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1440/oc-2-1440.jpeg   1x,
                ./img/collection/1440/oc-2-14402x.jpeg 2x
              "
              media="(min-width:1440px)"
              type="image/jpeg"
            />
            <img
              class="collection-image"
              src="./img/collection/mobile/oc-2-mobile.jpeg"
              alt="vyshyvanka-black-women"
              width="335"
              height="430"
            />
          </picture>
          <p class="overlay-text">
            There are many transparent symbols on the embroidered shirt.
            Free-cut shirt. It has a long sleeve with a lowered shoulder. Cuffs
            with a clasp on 1 button are at the bottom of the sleeve. Central
            front clasp in the center. Classic standing collar. Back on the
            yoke.
          </p>
        </div>
        <div class="collection-item-text">
          <h3 class="collection-item-title">Women's blouse Gorgany</h3>
          <p class="collection-price">3350 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="collection-foto">
          <picture class="collection-image">
            <source
              srcset="
                ./img/collection/mobile/oc-3-mobile.webp   1x,
                ./img/collection/mobile/oc-3-mobile2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mobile/oc-3-mobile.jpeg   1x,
                ./img/collection/mobile/oc-3-mobile2x.jpeg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-3-tablet.webp   1x,
                ./img/collection/tablet/oc-3-tablet2x.webp 2x
              "
              media="(max-width:1279px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-3-tablet.jpeg   1x,
                ./img/collection/tablet/oc-3-tablet2x.jpeg 2x
              "
              media="(max-width:1279px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1280/oc-3-1280.webp   1x,
                ./img/collection/1280/oc-3-12802x.webp 2x
              "
              media="(max-width:1439px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1280/oc-3-1280.jpeg   1x,
                ./img/collection/1280/oc-3-12802x.jpeg 2x
              "
              media="(max-width:1439px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1440/oc-3-1440.webp   1x,
                ./img/collection/1440/oc-3-14402x.webp 2x
              "
              media="(min-width:1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1440/oc-3-1440.jpeg   1x,
                ./img/collection/1440/oc-3-14402x.jpeg 2x
              "
              media="(min-width:1440px)"
              type="image/jpeg"
            />
            <img
              class="collection-image"
              src="./img/collection/mobile/oc-3-mobile.jpeg"
              alt="vyshyvanka-black-women"
              width="335"
              height="430"
            />
          </picture>
          <p class="overlay-text">
            Shirt of a straight silhouette, with voluminous sleeves with
            assemblies. The bottom of the sleeves are gathered into wide cuffs
            and fastened with buttons. Front bar, fastens with buttons. Wide
            flat collar. The fabric is linen Execution technique - plain
            (machine embroidery) Threads are cotton
          </p>
        </div>
        <div class="collection-item-text">
          <h3 class="collection-item-title">Women's blouse Crimea</h3>
          <p class="collection-price">4000 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="collection-foto">
          <picture class="collection-image">
            <source
              srcset="
                ./img/collection/mobile/oc-4-mobile.webp   1x,
                ./img/collection/mobile/oc-4-mobile2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mobile/oc-4-mobile.jpeg   1x,
                ./img/collection/mobile/oc-4-mobile2x.jpeg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-4-tablet.webp   1x,
                ./img/collection/tablet/oc-4-tablet2x.webp 2x
              "
              media="(max-width:1279px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-4-tablet.jpeg   1x,
                ./img/collection/tablet/oc-4-tablet2x.jpeg 2x
              "
              media="(max-width:1279px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1280/oc-4-1280.webp   1x,
                ./img/collection/1280/oc-4-12802x.webp 2x
              "
              media="(max-width:1439px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1280/oc-4-1280.jpeg   1x,
                ./img/collection/1280/oc-4-12802x.jpeg 2x
              "
              media="(max-width:1439px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1440/oc-4-1440.webp   1x,
                ./img/collection/1440/oc-4-14402x.webp 2x
              "
              media="(min-width:1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1440/oc-4-1440.jpeg   1x,
                ./img/collection/1440/oc-4-14402x.jpeg 2x
              "
              media="(min-width:1440px)"
              type="image/jpeg"
            />
            <img
              class="collection-image"
              src="./img/collection/mobile/oc-4-mobile.jpeg"
              alt="vyshyvanka-black-women"
              width="335"
              height="430"
            />
          </picture>
          <p class="overlay-text">
            The shirt is straight and voluminous. The central placket has hidden
            buttons.The classic folding stand collar is fastened with a wooden
            button. Various machine embroidery techniques were used to imitate
            hand stitches. The ornament is floral and geometric, wavy branches
            motif.
          </p>
        </div>
        <div class="collection-item-text">
          <h3 class="collection-item-title">Men's shirt Verkhovina</h3>
          <p class="collection-price">3100 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="collection-foto">
          <picture class="collection-image">
            <source
              srcset="
                ./img/collection/mobile/oc-5-mobile.webp   1x,
                ./img/collection/mobile/oc-5-mobile2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mobile/oc-5-mobile.jpeg   1x,
                ./img/collection/mobile/oc-5-mobile2x.jpeg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-5-tablet.webp   1x,
                ./img/collection/tablet/oc-5-tablet2x.webp 2x
              "
              media="(max-width:1279px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-5-tablet.jpeg   1x,
                ./img/collection/tablet/oc-5-tablet2x.jpeg 2x
              "
              media="(max-width:1279px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1280/oc-5-1280.webp   1x,
                ./img/collection/1280/oc-5-12802x.webp 2x
              "
              media="(max-width:1439px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1280/oc-5-1280.jpeg   1x,
                ./img/collection/1280/oc-5-12802x.jpeg 2x
              "
              media="(max-width:1439px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1440/oc-5-1440.webp   1x,
                ./img/collection/1440/oc-5-14402x.webp 2x
              "
              media="(min-width:1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1440/oc-5-1440.jpeg   1x,
                ./img/collection/1440/oc-5-14402x.jpeg 2x
              "
              media="(min-width:1440px)"
              type="image/jpeg"
            />
            <img
              class="collection-image"
              src="./img/collection/mobile/oc-5-mobile.jpeg"
              alt="vyshyvanka-black-women"
              width="335"
              height="430"
            />
          </picture>
          <p class="overlay-text">
            A straight shirt with a stand-up collar, a slit in the front with a
            button fastening. The collar, hem and cuffs are decorated with
            embroidery. Back with a yoke.
          </p>
        </div>
        <div class="collection-item-text">
          <h3 class="collection-item-title">Mountain men's shirt</h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="collection-foto">
          <picture class="collection-image">
            <source
              srcset="
                ./img/collection/mobile/oc-6-mobile.webp   1x,
                ./img/collection/mobile/oc-6-mobile2x.webp 2x
              "
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/mobile/oc-6-mobile.jpeg   1x,
                ./img/collection/mobile/oc-6-mobile2x.jpeg 2x
              "
              media="(max-width:767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-6-tablet.webp   1x,
                ./img/collection/tablet/oc-6-tablet2x.webp 2x
              "
              media="(max-width:1279px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/tablet/oc-6-tablet.jpeg   1x,
                ./img/collection/tablet/oc-6-tablet2x.jpeg 2x
              "
              media="(max-width:1279px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1280/oc-6-1280.webp   1x,
                ./img/collection/1280/oc-6-12802x.webp 2x
              "
              media="(max-width:1439px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1280/oc-6-1280.jpeg   1x,
                ./img/collection/1280/oc-6-12802x.jpeg 2x
              "
              media="(max-width:1439px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/collection/1440/oc-6-1440.webp   1x,
                ./img/collection/1440/oc-6-14402x.webp 2x
              "
              media="(min-width:1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/collection/1440/oc-6-1440.jpeg   1x,
                ./img/collection/1440/oc-6-14402x.jpeg 2x
              "
              media="(min-width:1440px)"
              type="image/jpeg"
            />
            <img
              class="collection-image"
              src="./img/collection/mobile/oc-6-mobile.jpeg"
              alt="vyshyvanka-black-women"
              width="335"
              height="430"
            />
          </picture>
          <p class="overlay-text">
            Men's straight shirt with a stand-up collar, yoke on the back. Long
            sleeves with buttons on the back. Front slit with tassels. The Odesa
            region is characterised by a combination of geometric ornaments of
            different structures and techniques. This was often further
            emphasised by contrasting colours.
          </p>
        </div>
        <div class="collection-item-text">
          <h3 class="collection-item-title">Men's shirt Yasen</h3>
          <p class="collection-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
