<section class="section collection">
  <div class="container">
    <h2 class="collection-title">Our Colection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture>
            <source media="(min-width: 1158px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 767px)" srcset="" />
            <img src="" alt="blouseRING" width="360" />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">AUGUST Poltava women's blouseRING</h3>
          <p class="Collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture>
            <source media="(min-width: 1158px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 767px)" srcset="" />
            <img src="" alt="blouseRING" width="360" />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
          <p class="Collection-text">3350 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture>
            <source media="(min-width: 1158px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 767px)" srcset="" />
            <img src="" alt="blouseRING" width="360" />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">Women's blouse Crimea</h3>
          <p class="Collection-text">4000 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture>
            <source media="(min-width: 1158px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 767px)" srcset="" />
            <img src="" alt="blouseRING" width="360" />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
          <p class="Collection-text">3100 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture>
            <source media="(min-width: 1158px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 767px)" srcset="" />
            <img src="" alt="blouseRING" width="360" />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">Mountain men's shirt</h3>
          <p class="Collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="collection-list-item">
        <div class="colletion-photo-container">
          <picture>
            <source media="(min-width: 1158px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 1157px)" srcset="" />
            <source media="(max-width: 767px)" srcset="" />
            <img src="" alt="blouseRING" width="360" />
          </picture>
        </div>
        <div class="collection-description">
          <h3 class="collection-subtitle">Men's shirt Yasen</h3>
          <p class="Collection-text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
