<header class="container header">
  <nav class="header-nav">
    <a class="header-nav-logo" href="#"><img src="../img/logo.svg" alt=""></a>
    <ul class="header-nav-links-list">
      <li><a class="header-nav-links-item" href="#about">about us</a></li>
      <li><a class="header-nav-links-item" href="#collection">our collections</a></li>
      <li><a class="header-nav-links-item" href="#order">customer order</a></li>
      <li><a class="header-nav-links-item" href="#testimonials">testimonials</a></li>
    </ul>
  </nav>
  <div class="header-nav-right">
    <address class="header-nav-adress">
      <a class="header-nav-adress-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>
    <ul class="header-social-list">
      <li><a class="header-social-item" href="https://www.facebook.com/goITclub/" target="_blank">F</a></li>
      <li><a class="header-social-item" href="https://www.instagram.com/goitclub/" target="_blank">I</a></li>
      <li><a class="header-social-item" href="https://www.youtube.com/c/GoIT" target="_blank">Y</a></li>
    </ul>
    <button class="header-menu-button" type="button">
      X
    </button>
  </div>
  <!-- <div class="header-mobile-menu"></div> -->
</header>