<section class="order-section">
  <form class="order-form" action="">
    <p class="order-text">
      <span class="order-span">Your order</span> is our priority: Personalized
      approach and quality of service
    </p>

   <div class="order-input-box">
      <input class="order-input" type="text" placeholder="Enter your full name" />
      <input class="order-input" type="email" placeholder="Enter your email" />
      <textarea class="order-coment" name="order-coment" id="" placeholder="Comments"></textarea>
   </div>
    <div class="order-btn-box"><button class="order-btn" type="submit">Send</button></div>
  </form>
</section>
