<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/order.css" />
  </head>
  <body></body>
</html>
<section class="order-section">
  <div class="order-girl"></div>
  <form class="order-form" action="">
    <p class="order-title">
      <span class="order-span">Your order</span> is our priority: Personalized
      approach and quality of service
    </p>
    <input
      class="order-input"
      required
      type="text"
      placeholder="Enter your full name"
    />
    <input
      class="order-input"
      required
      type="text"
      placeholder="Enter your email"
    />
    <textarea class="order-textarea" name="" id=""> </textarea>
  </form>
  <button class="order-btn" type="submit">Send</button>
</section>
