.hero {
  padding-top: 60px;
}

.hero-title {
  color: #fcf9f9;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}
.hero-title-color {
  color: #ecd979;
}

.hero-link-btn {
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: inline-flex;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  margin-left: 70px;
  margin-bottom: 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-btn:hover {
  border: 1px solid #ecd979;
}

.hero-link-btn:focus {
  border: 1px solid #ecd979;
}

.hero-btn-image {
  fill: #ecd979;
  transform: rotate(-30deg);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-btn:hover > .hero-btn-image {
  transform: translateX(20%);
}

.hero-link-btn:focus > .hero-btn-image {
  transform: translateX(20%);
}

.hero-foto {
  border-radius: 4px;
}

.hero-star {
  display: none;
}

.hero-map-img {
  display: none;
}

.tilt-in-left-1 {
  -webkit-animation: tilt-in-left-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-left-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-10-30 10:26:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-left-1
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
  }

  .hero-container {
    position: relative;
  }

  .hero-title {
    max-width: 549px;
    font-size: 54px;
    line-height: 1.19;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
    padding-top: 26px;
  }

  .hero-link-btn {
    font-size: 16px;
    display: flex;
    width: 168px;
    padding: 14px 39px;
    margin-left: 140px;
  }

  .hero-foto {
    width: 413px;
    height: 575px;
  }

  .hero-star {
    display: block;
    width: 115px;
    position: absolute;
    right: 32px;
    top: 0;
  }

  .hero-star-icon {
    fill: #ecd979;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  .hero-star-text {
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.04em;
  }

  .hero-map-img {
    display: block;
    position: absolute;
    right: 32px;
    bottom: -96px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 100px;
  }

  .hero-container {
    display: flex;
    column-gap: 40px;
  }

  .hero-foto {
    order: -1;
    width: 392px;
    height: 545px;
  }

  .hero-title {
    max-width: 518px;
    padding-top: 94px;
  }

  .hero-star {
    right: 100px;
    top: 14px;
  }

  .hero-map-img {
    right: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-title {
    padding-top: 66px;
    max-width: 630px;
    font-size: 64px;
    line-height: 1.16;
  }

  .hero-star {
    top: 66px;
  }
}
