.green-girl {
  background-image: url(./img/mobile/girl-green-mobile.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.order-section {
  padding: 20px;
}

.order-text {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  max-width: 335px;
}

.order-span {
  color: #ecd979;
}

.order-input {
  border-radius: 15px;
  font-size: 14px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  display: flex;
  width: 100%;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  background-color: transparent;
}

.order-coment {
    font-size: 14px;
  background-color: transparent;
  width: 100%;
  display: flex;
  width: 100%;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  min-height: 196px;
}

.order-input-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.order-btn {
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  background-color: transparent;
  display: flex;
  height: 49px;
  width: 145px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.order-btn-box {
  display: flex;
  justify-content: center;
}

.order-svg {
  fill: #ecd979;
  transform: rotate(-30deg);
}

.order-input,
.order-coment {
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 375px) {
  .section {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
  }
  .order-text {
    font-size: 44px;
max-width: 542px;
    line-height: 1.31; 
  }
  .order-btn-box {
    justify-content: flex-start;
  }
  .order-input,
  .order-comen {
    font-size: 16px;


  }

}
@media screen and (min-width: 1280px) {
  .section {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    max-width: 1440px;
  }
}
